.gym-color {
	background-color: #fcba03;
}

.gym-text {
	color: #fcba03;
}

.home-jumbo {
	background: url("../../assets/cf_ambience.jpeg") no-repeat fixed bottom;
	background-size: cover;
	color: #ccc;
	height: 200px;
	position: relative;
	z-index: -2;
	margin-bottom: 0px;
}

.overlay {
	background-color: #000;
	opacity: 0.6;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
}
