
.gym-color {
    background-color: #fcba03;
}

.coach-bg {
    background-image: url("../../assets/ring_pano_bw2.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}