.bg-format {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 100%;
}

.jumbo-format {
	background: no-repeat;
	background-attachment: fixed;
	background-position: bottom;
	background-size: cover;
	color: #ccc;
	position: relative;
	z-index: -2;
	margin-bottom: 0px;
}

.workout-jumbo {
	height: 30rem;
}

.home-jumbo {
	height: 200px;
}

.overlay {
	background-color: #000;
	opacity: 0.6;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
}

.gym-color {
	background-color: #fcba03;
}

.gym-text {
	color: #fcba03;
}

.top-spacing {
	padding-top: 40px;
}

.img-adjust {
	height: 40rem;
	padding-bottom: 60px;
}

.card-body {
	padding-top: 50px;
	background-color: rgba(0, 0, 0, 0.5);
}

.coach-card {
	width: 18rem;
	border: 0px solid rgba(0, 0, 0, 0.125);
	margin-top: 30px;
	margin-bottom: 30px;
}

.event-card {
	width: 50rem;
	border: 0px solid rgba(0, 0, 0, 0.7);
	background-color: rgba(0, 0, 0, 0.5);
	margin-top: 30px;
	margin-bottom: 30px;
}

.service-card {
	width: 18rem;
	border: 0px solid rgba(0, 0, 0, 0.125);
	margin-top: 30px;
	margin-bottom: 30px;
}

.service-body {
	background-color: rgba(0, 0, 0, 0.5);
}

.standing-bw {
	background-image: url("./assets/corey_standing_bw.jpeg");
}

.rings-bw2 {
	background-image: url("./assets/ring_pano_bw2.jpeg");
}

.rings-bw {
	background-image: url("./assets/bottom_rings_bw.jpeg");
}

.cf-ambience {
	background-image: url("./assets/cf_ambience.jpeg");
}

.bw-mess {
	background-image: url("./assets/bw_mess.jpeg");
}
